body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto Condensed', sans-serif;
}

h2.count-number {
    font-family: serif;
}

.slidepicture {
    opacity: 1;
}

.head-cont {
    background-color: #550000;
    padding-right: 5px;
    padding-left: 5px;

}

#featuredarticle h1, .carousel-caption h1 {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

#featuredarticle p, .carousel-caption p {
    opacity: 1;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

}

.counter {
    background-color: #11581E;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #ffc107;
}

#loadingIndicator {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: yellow;
    visibility: hidden;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    right: 10%;
    left: 10%;
}

.compactlines {
    line-height: 15px;
}

.sidebarlinks li {
    text-align: center;
    padding-bottom: 12px;
}

.gerbbg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
